<!DOCTYPE html>
<html>
<head>
<title>Connect</title>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!--link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css"/-->
</head>
<body onload="javascript:loading();loadingTS();doLogin();">
    <form method="POST" target="_self">
        <div> Login yourself</div>
            <div>
                <input id="username"  type="text" placeholder="Enter username"/>
            </div>
            <div>
                <input id="password" type="password" placeholder="Enter password"/>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" onclick="javascript: doLogin();">Login</button>
            </div>
    </form>
</body>
</html>